@import url('https://fonts.googleapis.com/css?family=Lacquer');
@import url('https://fonts.googleapis.com/css?family=Fira+Code');

.maintitle {
  font-family: 'Lacquer';
  font-size: 170px;
}

.secondtext {
  font-family: 'Fira Code';
  font-size: 30px;
}

.message {
  font-family: 'Fira Code';
  font-size: 12px;
}