@import url('https://fonts.googleapis.com/css?family=Lacquer');
@import url('https://fonts.googleapis.com/css?family=Fira+Code');

.maintitle {
  font-family: 'Lacquer';
  font-size: 170px;
}

.mainBackground {
  background-image: url('https://scontent-nrt1-1.xx.fbcdn.net/v/t1.15752-9/67653822_968322413500624_1094724598961799168_n.jpg?_nc_cat=100&_nc_oc=AQnjwQX6M3hgjoZ2aqzVLud0s3RqPjH4Q5qX-ySpKvlTDVp5rwnTT9CBJTWqstq2rqQ&_nc_ht=scontent-nrt1-1.xx&oh=4cda85cc7dbd15eb4d7951c2def15e01&oe=5DDCA5E4');  
  background-size: 80%;
  background-position: center;
}

.turaBackground {
  background-image: url('https://scontent-nrt1-1.xx.fbcdn.net/v/t1.15752-9/68290177_701173446972831_3650132734518493184_n.jpg?_nc_cat=108&_nc_oc=AQljg4kqT95JqTO2gTAHPrIsaTpAj6WY3nKL7IuVr6A20vG126lkAr7-tFY7sQ0SGrU&_nc_ht=scontent-nrt1-1.xx&oh=7b5bee54161da57891e481c3a5828389&oe=5DDB8547');  
  background-size: 80%;
  background-position: center;
}

.deoBackground {
  background-image: url('https://scontent-nrt1-1.xx.fbcdn.net/v/t1.15752-9/67641064_507862940018136_2301433684118470656_n.jpg?_nc_cat=102&_nc_oc=AQlsBoZJZX5dEjkrMtEbqQD6PRRjgEtVE2cP0p7pS4nm48Ujbf5F3W9RaEDp_OBQ9eA&_nc_ht=scontent-nrt1-1.xx&oh=22723fb88802e7643ea989f991fe5e50&oe=5DE0045E');  
  background-size: 80%;
  background-position: center;
}

.mainButtons {
  position: absolute; 
  bottom: 50px; 
}

.svgBackground {
  background-image: url('https://scontent-nrt1-1.xx.fbcdn.net/v/t1.15752-9/68517883_2768754046471337_2625486870657630208_n.jpg?_nc_cat=109&_nc_oc=AQnqdNc0hZYrV5XXQsNFuRQ5fvJdUfl9iTTDxHEvcWYsgiULRwk2bOFuaUIinMbkfrY&_nc_ht=scontent-nrt1-1.xx&oh=d758cb24903d006337f8526db0a00b6c&oe=5DEDAB29');  
  background-size: 80%;
  background-position: center;
}

.secondtext {
  font-family: 'Fira Code';
  font-size: 30px;
}

.message {
  font-family: 'Fira Code';
  font-size: 12px;
}